#game-wrapper {
	padding: 30px;
}
#game-header {
	font-size: 30px;
	font-weight: bold;
	background-color: green;
	color: white;
	border-radius: 10px;
	width: 46%;
	text-align: center;
	margin: 0 auto 25px;
}
#choice {
	text-align: center;
	margin-bottom: 25px;
}
button{
	width: 110px;
    height: 30px;
    border-radius: 4px;
    font-size: 18px;
}
#reset{
	text-align: center;
	margin:auto;
}
#board-wrapper {
	background-color: black;
	max-width: 640px;
	min-width: 320px;
	width: 75%;
	margin: 0 auto;
	overflow: hidden;
}
#row1, #row2, #row3 {
	margin-bottom: 5%;	
	overflow: hidden;
}
#row3 {
	margin-bottom: 0px;
}
.square {
	display: inline-block;
	width: 30%;
	font-size: 0px;
	transition: font-size 1s ;
	background: white;
	margin-left: 5%;
	padding: 30px 0;
	float: left;
	border: none;
}

.font {
	font-size: 80px;
}


.left {
	margin-left: 0px;
}
#game-header.playerTwo {
	background-color: yellow;
}
#game-header.playerOne {
	background-color: green;
}
.winner {
	background-color: blue;
}
.red {
	background-color: red;
}